@tailwind base;
@tailwind components;
@tailwind utilities;
.my-container {
  @apply max-w-[2520px] mx-auto px-5 md:px-10 lg:px-20;
}

.my-color {
  background-color: #fd603d;
}

.active {
  color: #f76c4a;
  background-color: #0000;
}

.my-btn {
  @apply btn hover:bg-[#fd603d] my-color text-white px-4 py-3 rounded-lg cursor-pointer;
}

.my-outline-btn {
  @apply btn btn-outline hover:bg-[#FD603D] hover:border-[#FD603D] border-[#FD603D] text-[#ff5934];
}
